<footer>
  <div>
    <div class="contact-info">
      <h3>Atlantic Council</h3>
      <div class="address">1101 15th Street, NW, 11th Floor Washington, D.C. 20005</div>
      <a href="http://www.acus.org">www.acus.org</a>
    </div>
    <div class="impact">
      <h3>Ideas. Influence. Impact.</h3>
    </div>
    <div class="clear" />
  </div>
</footer>
