  <div class="row-fluid">

    <div class="span12">
        <h1>Resources</h1>
        <% @resources.each do |r| %>
          <%= render 'list_item', {:resource => r} %>
        <% end %>
    </div>
    
  </div>
