<div class="container page">
  <div class="row-fluid">
    <div class="span12">
      <img src="http://lorempixel.com/1000/200/abstract/">
    </div>
  </div>
  <div class="row-fluid">

    <div class="span12">
        <h1>Resources</h1>
        <% @resources.each do |r| %>
          <%= render 'list_item', {:resource => r} %>
        <% end %>
    </div>
    
  </div>
</div>
