<!-- <div class="masthead">
  <h3 class="muted">Cyber Resource Library</h3>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
        <% Page.roots.order(:menu_priority).each do |p| %>
          <li><%= link_to p.title, "/" + p.slug, :class => ((request.fullpath.split("/").second == p.slug) ? "selected" : "") %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div> -->


<div class="navbar-wrapper">
   <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
   <div class="container">

     <div class="navbar navbar-inverse">
       <div class="navbar-inner">
         <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
         <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="brand" href="/">Cyber Resource Library</a>
         <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
         <div class="nav-collapse collapse">
           <ul class="nav">
             <% Page.roots.order(:menu_priority).each do |p| %>
               <li><%= link_to p.title, "/" + p.slug, :class => ((request.fullpath.split("/").second == p.slug) ? "selected" : "") %></li>
             <% end %>
           </ul>
         </div><!--/.nav-collapse -->
       </div><!-- /.navbar-inner -->
     </div><!-- /.navbar -->

   </div> <!-- /.container -->
 </div><!-- /.navbar-wrapper -->