<!DOCTYPE html>
<html lang="en">
  <%= render "shared/head" %>
  <body>
    <div class="wrapper">
      <%= content_for?(:main) ? yield(:main) : yield %>
    </div>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
